{% extends "base_generic.html" %}

{% block content %}
<div class="container text-center">
        <h1>Client Profile Management</h1>
        <form action="/echo" method="POST" id="signup-form">
                <div class="form-row justify-content-md-center">
                    <div class="form-group col-md-4">
                        <label for="inputFullname4">Full Name</label>
                        <input type="name" class="form-control" id="inputFullname4" placeholder="required" required maxlength="50"> 
                        <div class="invalid-feedback">Required Feild.</div>
                    </div>
                </div>

                <div class="form-row justify-content-md-center">
                        <div class="form-group col-md-6">
                                <label for="inputAddress">Address</label>
                                <input type="text" class="form-control" id="inputAddress" placeholder="required" required maxlength="100">
                                <div class="invalid-feedback">Required Feild.</div>
                                </div>
                </div>

                <div class="form-row justify-content-md-center">
                        <div class="form-group col-md-6">
                                <label for="inputAddress2">Address 2</label>
                                <input type="text" class="form-control" id="inputAddress2" placeholder="optional" maxlength="100">
                                </div>
                </div>

                <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputCity">City</label>
                    <input type="text" class="form-control" id="required" required maxlength="100">
                    <div class="invalid-feedback">Required Feild.</div>
                </div>
                <div class="form-group col-md-4">
                    <label for="inputState">State</label>
                    <select id="inputState" class="form-control">
                    <option selected>Choose...</option>
                    <option>...</option>
                    </select>
                    <div class="invalid-feedback">Required Feild.</div>
                </div>
                <div class="form-group col-md-2">
                    <label for="inputZip">Zip</label>
                    <input type="number" class="form-control" id="inputZip" required min="5" max="9">
                    <div class="invalid-feedback">Required Feild.</div>
                </div>
                </div>
            
                <button type="submit" class="btn btn-lg btn-outline-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
                    Submit
                </button>
            </form>
    </div>
{% endblock %}