{% extends "base_generic.html" %}

{% block content %}
    <div class="container text-center">
        <h1 class="center-block">Fuel Quote Form</h1>
        <form action="/echo" method="POST" id="delivery-form" >
            <div class="form-row justify-content-md-center">
            <div class="form-group col-xs-2" >
                <label for="inputGallons">Gallons required</label>
                <input type="number" class="form-control" id="inputGallons" placeholder="Gallons" required >
                <div class="invalid-feedback">Required Feild.</div>
            </div>
            </div>
            <div class="form-row justify-content-md-center">
                    <div class="form-group col-sm-4">
                            <label for="inputAddress">Delivery Address</label>
                            <input type="text" class="form-control" id="inputAddress" readonly>
                            <div class="invalid-feedback">Required Feild.</div>
                        </div>
            </div>
            
            <div class="form-row justify-content-md-center">
                    <div class="form-group">
                            <label class="justify-content-md-center" for="inputDeliveryDate">Delivery Date</label>
                
                            <input id="datepicker" width="276" />
                            <script>
                                $('#datepicker').datepicker({
                                    uiLibrary: 'bootstrap4'
                                });
                            </script>
                        </div>
            </div>
            <div class="form-row justify-content-md-center">
                <button type="button" class="btn btn-lg btn-outline-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
                    Get my Price
                </button>
            </div>
        <div class="form-row justify-content-md-center">
                <div class="form-group col-sm-4">
                        <label for="SuggestedPriceL">Suggested Price</label>
                        <input type="text" class="form-control" id="SuggestedPrice" readonly>
                    </div>
        </div>
        <div class="form-row justify-content-md-center">
                <div class="form-group col-sm-4">
                        <label for="TotalPriceL">Total Amount Due</label>
                        <input type="text" class="form-control" id="TotalPrice" readonly>
                    </div>
        </div>
        </form>
    </div>
{% endblock %}