{% extends 'base_generic.html' %}

{% block content %}
  <h2>Sign up</h2>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
        <p>
          <small style="color: grey; margin-left: 60">{{ field.help_text }}</small>
        </p>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button type="submit" class="btn btn-lg btn-outline-primary" style="text-align: center;">Sign up</button>
  </form>
{% endblock %}