{% extends "base_generic.html" %}
{% load widget_tweaks %}
{% block content %}
{% csrf_token %}
    <h1>Quote History</h1>
    <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Order ID</th>
                <th scope="col">Gallons Requested</th>
                <th scope="col">Delivery Address</th>
                <th scope="col">Delivery Date</th>
                <th scope="col">Suggested Price</th>
                <th scope="col">Total Amount Due</th>
            </tr>
            </thead>
            <tbody>
                {% for x in quote_list%}

                <tr>
                    <th>{{x.order_id}}</th>
                    <th>{{x.reqGallons}}</th>
                    <th>{{x.delivery_address}}</th>
                    <th>{{x.reqDelDate}}</th>
                    <th>{{x.pricePerGal}}</th>
                    <th>{{x.totalPrice}}</th>
                </tr>
          
              {% endfor %}  
            </tbody>

    </table>

  
{% endblock %}
<!--    order_id = models.AutoField(primary_key=True)
    reqGallons = models.CharField(max_length=10,verbose_name="Requested Gallons")
    reqDelDate = models.DateField(blank=False,verbose_name="Delivery Date",default="YYYY-MM-DD")
    delivery_address = models.CharField(max_length=300,verbose_name="Delivery Address")-->