{% extends "base_generic.html" %}
{% load render_table from django_tables2 %}
{% block content %}
<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    </head>
    <h1>Quote History</h1>
    <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Gallons Requested</th>
                <th scope="col">Delivery Address</th>
                <th scope="col">Delivery Date</th>
                <th scope="col">Suggested Price</th>
                <th scope="col">Total Amount Due</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                {% render_table table %}
            </tr>
            </tbody>
    </table>
{% endblock %}