{% extends "base_generic.html" %}
{% load widget_tweaks %}
{% block content %}
{% csrf_token %}
    <h1>Quote History</h1>
    <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Gallons Requested</th>
                <th scope="col">Delivery Address</th>
                <th scope="col">Delivery Date</th>
                <th scope="col">Suggested Price</th>
                <th scope="col">Total Amount Due</th>
            </tr>
            </thead>
            <tbody>
                {% for a in context%}
                <tr>
                <td>{{a}}</td>
                  {% for b in a%}
                     <td>{{b.reqGallons}}</td>
                     <td>{{b.delivery_address}}</td>
                     <td>{{b.reqDelDate}}</td>
                  {% endfor %} 
                </tr>                
                {% endfor %}
                <!--
                {% for pl in obj%}
                <tr>
                  {% for l in pl%}
                     <td>{{l}}</td>
                  {% endfor %} 
                </tr>
                {% endfor %}
                -->                   
                <!--
                {{obj}}
                {% for a in obj %}
                <tr>
                    <td>{{ a.order_id }}</td>
                    <td>{{ a.reqGallons }}</td>
                    <td>{{ a.delivery_address }}</td>
                    <td>{{ a.reqDelDate }}</td>
                </tr>
                {% endfor %}
                --> 
            </tbody>
    </table>
{% endblock %}
<!--    order_id = models.AutoField(primary_key=True)
    reqGallons = models.CharField(max_length=10,verbose_name="Requested Gallons")
    reqDelDate = models.DateField(blank=False,verbose_name="Delivery Date",default="YYYY-MM-DD")
    delivery_address = models.CharField(max_length=300,verbose_name="Delivery Address")-->